<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <table class="table" border="0">
        <tbody>
           <tr>
             <td width="10%" vertical-align="bottom" padding="0px">
               <img style="display:block;" width="100%" height="100%" src="http://placehold.it/100X100" >
             </td> 
             <td width="90%">
               <h1>Dinámicas matrimoniales</h1>
               <h3>Parroquia de San Judas Tadeo, Nuevo Laredo</h3>
             </td> 
           </tr>
        </tbody> 
      </table>      
    </div>
    <div class="panel-body" align="center">       
         <img src="http://placehold.it/1000x520"> 
         <table class="table" border="0px" >
           <tbody>
              <tr>
                 <td width="50%"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                 </td>
                 <td width="50%"><p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Crasdapibuselementum.enim.</p>
                 </td>       
           </tbody>
        </table>
    </div>
    <div class="panel-footer">
      <table class="table" border="0px" >
           <tbody>
              <tr>
                 <td width="30%" align="center"><h3>Quienes Somos?</h3>
                  <br>Equipo de Dinámicas Matrimoniales de la Parroquia de San Judas Tadeo de la Diócesis de Nuevo Laredo.
                  <br>
                 </td>
                 <td width="40%" align="center"><h3>Ubicacion</h3>
                 <br>Prolongación Guerrero 7821 Colonia Benito Juarez (FOVISSSTE).Nuevo Laredo, Tamaulipas.
                 </td>                 
                 <td width="30%" align="center"><h3>Proxima Dinamica</h3>
                  <br>Dinámica 40: 7,8 y 9 de Septiembre del 2016.
                 </td>
              </tr>         
           </tbody>
        </table>   
        <div align="center"><br>            
              <a class="btn btn-social-icon btn-twitter">
                      <div class="twitter-icon"> 
                         <span class="fa fa-twitter fa-2x"></span>
                      </div>
                    </a>  
                    <a class="btn btn-social-icon btn-facebook">
                      <div class="facebook-icon">
                         <span class="fa fa-facebook fa-2x"></span>
                      </div>
                    </a>  
                    <a class="btn btn-social-icon btn-google">
                      <div class="google-icon">  
                         <span class="fa fa-google fa-2x"></span>
                      </div>
                    </a>                    
        </div>  
        <div align="right">
            © Mario Uriarte 2016
        <div>   
    </div>
  </div>
</div>